<div class="container">
    <div class="child row">
        <div class="effect col text-center" routerLink="/User"
        (click)="userSelectedModule()">
            <img src="../../assets/focus.png" width="150px" alt="">
            <div><h3 class="fs-2 mt-5">User</h3></div>
        </div>
        <div class="effect col text-center" routerLink="/Owner"
        (click)="ownerSelectedModule()">
            <img src="../../assets/home.png" width="150px" alt="">
            <div><h3 class="fs-2 mt-5">Owner</h3></div>
        </div>
        <div class="effect col text-center" routerLink="/Admin"
        (click)="adminSelectedModule()">
            <img src="../../assets/key.png" width="150px" alt="">
            <div><h3 class="fs-2 mt-5">Admin</h3></div>
        </div>
    </div>
</div>