<!-- <div class="container">
    <div class="child row">
        <div class="effect col text-center" routerLink="/User"
        (click)="userSelectedModule()">
            <img src="../../assets/focus.png" width="150px" alt="">
            <div><h3 class="fs-2 mt-5">User</h3></div>
        </div>
        <div class="effect col text-center" routerLink="/Owner"
        (click)="ownerSelectedModule()">
            <img src="../../assets/home.png" width="150px" alt="">
            <div><h3 class="fs-2 mt-5">Owner</h3></div>
        </div>
        <div class="effect col text-center" routerLink="/Admin"
        (click)="adminSelectedModule()">
            <img src="../../assets/key.png" width="150px" alt="">
            <div><h3 class="fs-2 mt-5">Admin</h3></div>
        </div>
    </div>
</div> -->

<div class="container text-center navigation">
    <button class="nav-button button1" routerLink="/User" (click)="userSelectedModule()">
        <i class="bi bi-person-circle me-2 fs-3"></i> User
    </button>
    <button class="nav-button button2" routerLink="/Admin"
    (click)="adminSelectedModule()">
        <i class="bi bi-person-fill-gear me-2 fs-3"></i> Admin
    </button>
    <button class="nav-button button3" routerLink="/Owner"
    (click)="ownerSelectedModule()">
        <i class="bi bi-key me-2 fs-3"></i> Owner
    </button>
</div>